<h1>Game Status</h1>
<table>
    <tr>
        <th>Round</th>
        <% @game.players.each do |player| %>
            <th><%= player %></th>
        <% end %>
    </tr>
    <% @game.rounds.each_with_index do |round, index| %>
        <tr>
            <td>Round <%= index + 1 %></td>
            <% @game.players.each do |player| %>
                <td>
                    <% if round.asked_tricks[player] %>
                        <span class="tricks">
                            <%= round.tricks_made[player] || "-" %>/<%= round.asked_tricks[player] %>
                        </span>
                        <div class="points">
                            <%= round.points[player] || "-" %>
                        </div>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>