<h1>Partidas</h1>

<p><%= link_to "Nueva partida", new_game_path, role: "button" %></p>

<% if flash[:alert] %>
  <p role="alert"><%= flash[:alert] %></p>
<% end %>

<% if @games.any? %>
  <% @games.each do |game| %>
    <article>
      <header>
        <%= link_to "Partida ##{game.id}", game %>
        <small><%= game.complete? ? "Terminada" : "Ronda #{game.current_round_number}" %></small>
      </header>
      <p><%= game.players.join(", ") %></p>
      <p><small>Hace <%= time_tag(game.created_at, time_ago_in_words(game.created_at)) %></small></p>
    </article>
  <% end %>
<% else %>
  <p>No hay partidas.</p>
<% end %>
