<h1>Partidas</h1>

<p><%= link_to "Nueva partida", new_game_path %></p>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<% if @games.any? %>
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to "##{game.id}", game %>
        (<%= game.players.join(", ") %>)
        - <%= game.complete? ? "Terminada" : "Ronda #{game.current_round_number}" %>
        <%= button_to "Eliminar", game, method: :delete, data: { turbo_confirm: "¿Eliminar esta partida?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No hay partidas.</p>
<% end %>
