<h1>Games</h1>

<p><%= link_to "New Game", new_game_path %></p>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<% if @games.any? %>
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to "##{game.id}", game %>
        (<%= game.players.join(", ") %>)
        - <%= game.complete? ? "Complete" : "Round #{game.current_round_number}" %>
        <%= button_to "Delete", game, method: :delete, data: { turbo_confirm: "Delete this game?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No games yet.</p>
<% end %>
