<header class="sticky-header">
  <h1>Partida #<%= @game.id %></h1>
  <p><%= link_to "â† Volver", games_path, data: { turbo_frame: "_top" } %></p>

  <% if flash[:alert] %>
    <p role="alert"><%= flash[:alert] %></p>
  <% end %>

  <%= render "leaderboard", game: @game %>
</header>

<h2>Rondas</h2>

<% @game.rounds.each_with_index do |round, idx| %>
  <%= render "round", game: @game, round: round, idx: idx %>
<% end %>
