<script id="game-state">
  var gameStarted = <%= @game.started ? 'true' : 'false' %>;
  var gameState = <%= raw @game.to_json %>;
</script>
<%= turbo_stream_from "game_#{@game.id}" %>



<div class="tables-container">
  <table class="game-table">
    <thead>
      <tr>
        <th class="tricks-cards-ratio-header"> Pedidas/Totales </th>
        <% @game.players.each do |player| %>
          <th> <%= player %> </th>
        <% end %>
        <th> No puede pedir </th>
      </tr>
    </thead>
    <tbody>
      <% @game.rounds.each do |index, round| %>
        <tr>
          <%# round number %>
          <td class="<%= round.is_trump? ? 'trump-round' : 'no-trump-round' %>">
            <div class="tricks-cards-ratio">
              <%= round.total_tricks_asked %>/<%= round.amount_of_cards %>
            </div>
          </td>

          <%# round cell %>
          <% @game.players.each do |player| %>
            <td class="<%= 'starting-player' if round.starting_player == player %>">
              <div class="points-cell" game-id="<%= @game.id %>">
                <span class="points"><%= round.points[player] || "-" %></span>
                <span class="tricks-superindex">
                  <%# MADE TRICKS%>
                  <span class="editable" 
                        data-player="<%= player %>" 
                        data-round="<%= round.round_number %>" 
                        data-action="registerTricks" 
                        data-gameid="<%= @game.id %>"
                        data-editable="<%= round.asked_tricks.values.all? %>">
                    <%= round.tricks_made[player] || "-" %>
                  </span>
                  /
                  <%# ASKED TRICKS%>
                  <span class="editable" 
                        data-player="<%= player %>" 
                        data-round="<%= round.round_number %>" 
                        data-action="askForTricks" 
                        data-gameid="<%= @game.id %>">
                    <%= round.asked_tricks[player] || "-" %>
                  </span>
                </span>
              </div>
            </td>
          <% end %>
          
          <%# forbidden value cell %>
          <td class="forbidden-value-cell">
            <div class="forbidden-value">
              <%= round.last_player_forbidden_value %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Leaderboard Table Placeholder -->
<h2>Leaderboard</h2>
<table class="game-table" id="leaderboard-table">
  <thead>
    <tr>
      <th class='player-column'>Player</th>
      <th>Points</th>
    </tr>
  </thead>
  <turbo-frame>
    <%= render "leaderboard", game: @game %>
  </turbo-frame>
</table>    
