<script>
  var gameStarted = <%= @game.started ? 'true' : 'false' %>;
</script>


<table class="game-table">
    <thead>
        <tr>
            <th>Numero de Cartas</th>
            <% @game.players.each do |player| %>
                <th> <%= player %> </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @game.rounds.each do |index, round| %>
            <tr>
                <%# round number %>
                <td class="<%= round.is_trump? ? 'trump-round' : 'no-trump-round' %>">                    
                    <%= round.amount_of_cards %>
                </td>

                <%# round cell %>
                <% @game.players.each do |player| %>
                    <td class="<%= 'starting-player' if round.starting_player == player %>">
                        <div class="points-cell" game-id="<%= @game.id %>">
                            <span class="points"><%= round.points[player] || "-" %></span>
                            <span class="tricks-superindex">

                                <%# MADE TRICKS%>
                                <% if @game.is_current_round(round) && round.is_current_player(player) && !round.asked_tricks[player].nil? %>
                                    <input type="number" 
                                                id="made-tricks-input-<%= player %>" 
                                                class="tricks-input" 
                                                min="0" max="<%= round.amount_of_cards %>"
                                                name='registerTricks'
                                                game-id="<%= @game.id %>">                                <% else %>
                                    <%= round.tricks_made[player] || "-" %>
                                <% end %>
                                /
                                <%# ASKED TRICKS%>
                                <% if @game.is_current_round(round) && round.is_current_player(player) %>
                                    <%# if it has not asked yet%>
                                    <% if round.asked_tricks[player].nil? %>
                                        <input type="number" 
                                                id="asked-tricks-input-<%= player %>" 
                                                class="tricks-input" 
                                                min="0" max="<%= round.amount_of_cards %>"
                                                name='askForTricks'
                                                game-id="<%= @game.id %>">
                                    <% else %>
                                        <%= round.asked_tricks[player] %>
                                    <% end %>
                                <% else %>
                                    <%= round.asked_tricks[player] || "-" %>
                                <% end %>
                            </span>
                        </div>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<!-- Leaderboard Table Placeholder -->
<h2>Leaderboard</h2>
<table class="game-table" id="leaderboard-table">
  <thead>
    <tr>
      <th class='player-column'>Player</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody id="leaderboard-body">
    <!-- Leaderboard data will be inserted here by JavaScript -->
  </tbody>
</table>